<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Crushed|Quicksand:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<title>User Login</title>
</head>

<body class='loginPage'>

  <header>
	   <nav>
      <div>
 	      <ul class='loginNav'>
	         <li><a href="/session/logout">Logout</a></li>
					 <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class='loginHeader'>
    <h2>Login</h2>
      <form class='login' action="/session/login" method="POST">
       Username: <input type="text" name="username" value="">
       Password: <input type="password" name="password" value="">
       <button id="register">Login</button>
     </form>
  </div>

  <%if(message) {%>
    <br/>
    <p><%=message%> </p>
    <%}%>
		<div class="instructions">
			<p>Once you are logged in, you will be directed to a page where you can search our databases for adoptable animals and participating shelters in the area of your choice
				 If you see an animal that you are interested in, or just want more information on, click the heart next to it, and it will be added to your wishlist. Stats will be listed
				 for each animals, along with a picture if applicable, as well as the shelter's contact that is housing them.  Once you have thoroughly perused the list, simply find and cloick on
				 your user name in the list above. You can then see all the animals on your wishlist,listed in the order they were chosen (most recent will be on bottom of the list), and take the next steps to finding your new best friend!</p>

  <footer>

  </footer>

  </body>
</html>
